@media screen and (max-width: 950px) {
    #search {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }

    #formobile {
        display: inline-block;
    }
  }

  @media screen and (min-width: 950px) {
    #formobile {
        display: none;
    }
  }

html {
    padding: 7vh;
}
