@media screen and (max-width: 899px) {
    html {
        padding: 2.5%;
    }
    #searchtable {
      visibility: hidden;
      clear: both;
      float: left;
      display: none;
    }

    #formobile {
        display: inline-block;
    }
  }

  @media screen and (min-width: 900px) {
    html {
        padding: 2.5%;
    }
    #formobile {
      visibility: hidden;
      clear: both;
      float: left;
        display: none;
    }
  }

tfoot { 
  display: table-header-group;
}
thead {
  display: table-row-group;
}
.dataTables_filter, .dataTables_info { display: none; }
html {
  font-size: 12px;
}
table.dataTable {
  font-size: 12px;
}
.table1 td, .table1 th {
  padding: .5rem;

}
.table1 {
  margin-bottom: 10px;
}
